<section id="projects-section">
  <h1>Projects</h1>

  <div class="slider">
    <div class="arrow-stack">
      <button class="arrow left">
        <i class="fi fi-sr-angle-left"></i>
      </button>

      <button class="arrow right">
        <i class="fi fi-sr-angle-right"></i>
      </button>
    </div>

    <div class="slider-window">
      <div class="slides">
        <!-- Project 1: Portfolio -->
        <a href="https://github.com/johanna-nguyen/Portfolio" target="_blank" class="slide">
          <h2>Project 1: Personal Portfolio</h2>
          <p>
            Responsive personal portfolio website showcasing projects and skills.
          </p>
        </a>

        <!-- Project 2:  Phu Quoc Weather Forecast -->
        <a href="https://github.com/johanna-nguyen/PhuQuocWeatherForecast" target="_blank" class="slide">
          <h2>Project 2: Weather Forecast Website</h2>
          <p>
            Web application displaying real-time weather and air quality data using JavaScript and external APIs.
          </p>
        </a>

        <!-- Project 3: Store Management App (Java) -->
        <a
          href="https://github.com/johanna-nguyen/StoreManagement"
          target="_blank"
          class="slide"
        >
          <h2>Project 3: Store Management App</h2>
          <p>
            Store Management is an Java-based application that helps users manage a store easily.
          </p>
        </a>

        <!-- Project 4: Beauty Store ERP (Python) -->
        <a
          href="https://github.com/johanna-nguyen/BeautyStoreERP"
          target="_blank"
          class="slide"
        >
          <h2>Project 4: Beauty Store ERP</h2>
          <p>
            Python-based application for managing products, inventory, and sales operations.
          </p>
        </a>

        
      </div>
    </div>
  </div>
</section>
